{{ "<!-- ABOUT -->" | safeHTML }}
<footer>
    <div class="container footer-top">
      <div class="row">
        <div class="col-sm-12 col-lg-8 col-md-8 col-md-offset-2 col-lg-offset-2">
            <a class="button button-top" data-scroll="" href="#"></a>
        </div>
      </div>
    </div>
    <div class="container footer-content">
      <div class="row">
        <div class="col-sm-12 col-lg-8 col-md-8 col-md-offset-2 col-lg-offset-2">
        </div>
      </div>
    </div>
    </div>
    <div class="container footer-bottom">
      <div class="row">
        <div class="col-sm-12 col-lg-8 col-md-8 col-md-offset-2 col-lg-offset-2">
          <p>Copyright ©<script>document.write(new Date().getFullYear())</script> Tengio Limited. All Rights Reserved</p>
        </div>
      </div>
    </div>
</footer>
