<header>
    <picture>
        <img class="header-hero-img" 
            srcset="./img/hero_background-400w.jpg 400w, ./img/hero_background-768w.jpg 768w, ./img/hero_background-992w.jpg 992w, ./img/hero_background-1200w.jpg 1200w"
            src="./img/hero_background-1200w.jpg" alt="code image" />
    </picture>
    <div class="header-content">
    <picture>
        <img src="./img/logo_white.svg" srcset="./img/logo_white.svg" alt="Tengio" />
    </picture>
    <h2>OPEN SOURCE</h2>
    <a class="header-button" href="https://github.com/Tengio">VISIT US ON GITHUB</a>
  </div>
</header>
