{{ "<!-- PORTFOLIO -->" | safeHTML }}
<section id="projects" class="alternative-row-background">
    <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2 class="section-heading">{{ with .Site.Params.projects.headline }}{{ . }}{{ end }}</h2>
            <hr class="primary">
          </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-xm-12 col-sm-10 col-md-10 col-lg-10 col-sm-offset-1 col-md-offset-1 col-lg-offset-1">
                <div class="row">
                    {{ range .Site.Params.projects.list }}
                    <a href="{{ .link }}" target="_blank">
                        <div class="col-lg-4 col-md-6 col-sm-6 col-xm-12">
                            <div class="box-container">
                                <div class="box-item">
                                    <div class="box-header">{{ .title }}</div>
                                    <div class="box-description"><p>{{ .description }}</div>
                                    <div class="box-type">{{ .type}}</div>
                                </div>
                            </div>
                        </div>
                    </a>    
                    {{ end }}
                </div>
            </div>
        </div>
    </div>
</section>
